In [1]:
# Series and Dataframes

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
x = Series([30, 40, 50])

In [4]:
x

0    30
1    40
2    50
dtype: int64

In [5]:
x.values

array([30, 40, 50], dtype=int64)

In [6]:
x.index

RangeIndex(start=0, stop=3, step=1)

In [7]:
# Create Series with Index

In [17]:
Sales = Series([450000, 650000, 870000, 900000], index=["Q1", "Q2", "Q3", "Q4"])
Sales

Q1    450000
Q2    650000
Q3    870000
Q4    900000
dtype: int64

In [18]:
Sales["Q2"]

650000

In [19]:
Sales[Sales > 500000]

Q2    650000
Q3    870000
Q4    900000
dtype: int64

In [21]:
"Q1" in Sales

True

In [22]:
"John" in Sales

False

In [14]:
450000 in Sales

False

In [16]:
1 in x

True

In [23]:
# Converting Series to Dictionaries

In [24]:
Sales_dict = Sales.to_dict()

In [25]:
Sales_dict

{'Q1': 450000, 'Q2': 650000, 'Q3': 870000, 'Q4': 900000}

In [26]:
# Converting Dictionaries to Series

In [27]:
Sales_series = Series(Sales_dict)
Sales_series

Q1    450000
Q2    650000
Q3    870000
Q4    900000
dtype: int64

In [32]:
# Adding extra indices to Series from a dictionary

In [28]:
Sales_dict

{'Q1': 450000, 'Q2': 650000, 'Q3': 870000, 'Q4': 900000}

In [29]:
New = ["Q1", "Q2", "Q3", "Q4", "Q5"]

In [30]:
SSales = Series(Sales_dict, index= New)

In [31]:
SSales

Q1    450000.0
Q2    650000.0
Q3    870000.0
Q4    900000.0
Q5         NaN
dtype: float64

In [33]:
# Finding Null values

In [34]:
pd.isnull(SSales)

Q1    False
Q2    False
Q3    False
Q4    False
Q5     True
dtype: bool

In [35]:
# Adding values in Series

In [36]:
Sales + SSales

Q1     900000.0
Q2    1300000.0
Q3    1740000.0
Q4    1800000.0
Q5          NaN
dtype: float64

In [37]:
# Naming a Series

In [38]:
SSales.name = "Total Sales"

In [39]:
SSales

Q1    450000.0
Q2    650000.0
Q3    870000.0
Q4    900000.0
Q5         NaN
Name: Total Sales, dtype: float64

In [40]:
# Naming an index

In [43]:
SSales.index.name = "Quarter"

In [44]:
SSales

Quarter
Q1    450000.0
Q2    650000.0
Q3    870000.0
Q4    900000.0
Q5         NaN
Name: Total Sales, dtype: float64

# Creating a DataFrame

In [45]:
data = [["Adrian", 20], ["Beatrice", 32], ["Chloe", 41]]
df = pd.DataFrame(data, columns= ["Name", "Age"], dtype= int)
df

       Name  Age
0    Adrian   20
1  Beatrice   32
2     Chloe   41

In [46]:
# Creating a DataFrame from Dictionaries -using default index